# Prerequisites / dependency files
*.d

# Object & ELF
*.o
*.ko
*.obj
*.elf

# Linker
*.ilk
*.map
*.exp

# Pre-compiled headers
*.gch
*.pch

# Static / shared libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executables / binary images
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# GCC split-DWARF
*.dwo

# Debug symbol folders & files
*.dSYM/
*.su
*.idb
*.pdb

# Linux kernel-module intermediates
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Doxygen output (HTML + LaTeX, etc.)
Docs/**
# If you generate directly into 'docs/html', ignore sub-folders too

# Misc editor / OS files
*.swp
*~
.DS_Store
Thumbs.db
